<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="script">
    <!-- JAVASCRIPT -->
    <script src="/assets/dashboard/libs/jquery/jquery.min.js"></script>
    <script src="/assets/dashboard/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/dashboard/libs/metismenu/metisMenu.min.js"></script>
    <script src="/assets/dashboard/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/dashboard/libs/node-waves/waves.min.js"></script>

    <!-- App js -->
    <script src="/assets/dashboard/js/app.js"></script>

</th:block>
