<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="frm_create">
    <div id="createAptModal" class="modal fade exampleModal hide" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formCreateApt">
                    <div class="modal-body">
                        <div class="modal-alert-danger hide"></div>
                        <div class="form-group">
                            <label for="apt-title">Title</label>
                            <input type="text" class="form-control" id="apt-title">
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="apt-type">Type</label>
                                    <select id="apt-type" class="form-control">
                                        <option selected="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="apt-area">Area</label>
                                    <input type="number" class="form-control" id="apt-area">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="apt-price">Price</label>
                                    <input type="number" class="form-control" id="apt-price">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <div>
                                <textarea required="" id="apt-desc" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="custom-control custom-checkbox custom-checkbox-info mb-3">
                                    <input type="checkbox" class="custom-control-input" id="kitchenCb" name="kitchenCb">
                                    <label class="custom-control-label" for="kitchenCb">Kitchen</label>
                                </div>
                                <div class="custom-control custom-checkbox  custom-checkbox-warning mb-3">
                                    <input type="checkbox" class="custom-control-input" id="balconyCb" name="balconyCb">
                                    <label class="custom-control-label" for="balconyCb">Balcony</label>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                                    <input type="checkbox" class="custom-control-input" id="viewCb" name="viewCb">
                                    <label class="custom-control-label" for="viewCb">View</label>
                                </div>
                                <div class="custom-control custom-checkbox  custom-checkbox-success mb-3">
                                    <input type="checkbox" class="custom-control-input" id="petCb" name="petCb">
                                    <label class="custom-control-label" for="petCb">Pet allowed</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btn-create-apt">Create</button>
                </div>
            </div>
        </div>
    </div>

</th:block>
