<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="addMoreBookingItem">
    <textarea id="rowAddBookingItem" class="hide">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <select class="form-control">
                        <option selected="">Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="date" class="form-control" >
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-group" class ="div-delete-booking-item">
                    <button type="button" class="btn btn-danger" id="btn-delete-booking-item"><i class="fa fa-minus"></i></button>
                </div>
            </div>
        </div>
    </textarea>
</th:block>